.axis path,
.axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.bar{
	width: 100%;
	height: 80px;
	line-height: 60px;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: #666666;
}
._body{
	width: 100%;
	height: 1000px;
	position: absolute;
	background-color: #f0f3f4;
}
.bar_1{
	width: 1840px;
	height: 80px;
	position: absolute;
	top:20px;
	left: 18px;
	border:solid 3px white;
}
.bar_1_1{
	width: 460px;
	height: 80px;
	position: absolute;
	background-color: #9b8bba;
	
}
.bar_1_2{
	width: 460px;
	height: 80px;
	position: absolute;
	left: 460px;
	background-color: #e098c7;
}
.bar_1_3{
	width: 460px;
	height: 80px;
	position: absolute;
	left: 920px;
	background-color: #8fd3e8;
}
.bar_1_4{
	width: 460px;
	height: 80px;
	position: absolute;
	left: 1380px;
	background-color: #71669e;
}
.bar_data_1{
	width: 460px;
	height: 60px;
	position: absolute;
	text-align: center;
	line-height: 60px;
	font-size: 28px;
	color: white;
}
.bar_text_1{
	width: 460px;
	height: 20px;
	position: absolute;
	text-align: center;
	line-height: 20px;
	font-size:18px;
	color: white;
	top:50px;
}
.bar_data_2{
	width: 460px;
	height: 60px;
	position: absolute;
	text-align: center;
	line-height: 60px;
	font-size: 28px;
	color: white;
}
.bar_text_2{
	width: 460px;
	height: 20px;
	position: absolute;
	text-align: center;
	line-height: 20px;
	font-size:18px;
	color: white;
	top: 50px;
}
.bar_data_3{
	width: 460px;
	height: 60px;
	position: absolute;
	text-align: center;
	line-height: 60px;
	font-size: 28px;
	color: white;
}
.bar_text_3{
	width: 460px;
	height: 20px;
	position: absolute;
	text-align: center;
	line-height: 20px;
	font-size:18px;
	color: white;
	top: 50px;
}
.bar_data_4{
	width: 460px;
	height: 60px;
	position: absolute;
	text-align: center;
	line-height: 60px;
	font-size: 28px;
	color: white;
}
.bar_text_4{
	width: 460px;
	height: 20px;
	position: absolute;
	text-align: center;
	line-height: 20px;
	font-size:18px;
	color: white;
	top: 50px;
}
.div_1{
	width:1000px;
	height:540px;
	position: absolute;
	top: 120px;
	left: 18px;
	float:left;
	background-color: white;
}
#out{
	width:800px;
	height:510px;
	position: relative;
	float:right;
	margin-top: 120px;
	/* margin-left: 18px; */
	margin-right:40px;
	background-color: white;
}
#pie{
	width:800px;
	height:500px;
	position: relative;
	float:right;
	/* margin-top: 120px; */
	/* margin-left: 18px; */
	/* margin-right:40px; */
	background-color: white;
}